version: '3.1'

services:

  nginx:
    image: nginx
    depends_on:
      - php
    expose:
      - 80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    restart: always 
    
  php:
    build: .
    depends_on:
      - db
    expose:
      - 9000
    restart: always

  db:
    image: mariadb
    restart: always
    environment:
      MYSQL_USER: crater
      MYSQL_PASSWORD: crater
      MYSQL_DATABASE: crater

