:root {
    --color-primary-50: 247, 246, 253;
    --color-primary-100: 238, 238, 251;
    --color-primary-200: 213, 212, 245;
    --color-primary-300: 188, 185, 239;
    --color-primary-400: 138, 133, 228;
    --color-primary-500: 88, 81, 216;
    --color-primary-600: 79, 73, 194;
    --color-primary-700: 53, 49, 130;
    --color-primary-800: 40, 36, 97;
    --color-primary-900: 26, 24, 65;
}
