:root {
    --color-primary-50: 241, 243, 255;
    --color-primary-100: 229, 231, 255;
    --color-primary-200: 206, 209, 255;
    --color-primary-300: 167, 170, 255;
    --color-primary-400: 118, 117, 255;
    --color-primary-500: 74, 61, 255;
    --color-primary-600: 51, 22, 255;
    --color-primary-700: 33, 4, 253;
    --color-primary-800: 27, 3, 211;
    --color-primary-900: 25, 5, 173;
    --color-primary-950: 9, 0, 118;
}
