.image-upload-box {
    height: 110px;
    padding: 20px;
    background-color: transparent;
    border: 2px dashed $ls-color-gray--light;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    .preview-logo {
        max-height: 50%;
        position: absolute;
    }

    .upload-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .upload-text {
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: $ls-color-gray;
    }

    .upload-icon {
        font-size: 20px;
        line-height: 23px;
        color: $ls-color-gray;
        margin-bottom: 10px;
    }
}
