.expenses {

    .expenses__date-input {
        display: inline-block;
        width: 100%;
        height: 38px;
        padding: 6px 30px 6px 10px;
        font-size: 1rem;
        line-height: 1.4;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
    .expenses__date-container--error {
        .expenses__date-input {
            display: inline-block;
            width: 100%;
            height: 38px;
            padding: 6px 30px 6px 10px;
            font-size: 1rem;
            line-height: 1.4;
            color: #555;
            background-color: #fff;
            border: 1px solid #F99;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        }
    }
    & .mx-datepicker {
        width: 100% !important;
    }
    & .mx-datepicker-popup {
        position: absolute;
        width: 250px;
        margin-bottom: 1px;
        border: 1px solid #d9d9d9;
        background-color: #fff;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        z-index: 10;
        left: 0 !important;
        top: 37.8125px !important;
    }
    & > .sweet-modal {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #fff;
        -webkit-box-shadow: 0px 8px 46px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.03);
        box-shadow: 0px 8px 46px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.03);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        max-height: 100vh;
        overflow-y: auto;
        border-radius: 2px;
        -webkit-transform: scale(0.9) translate(calc(-50% - 32px), -50%);
        transform: scale(0.9) translate(calc(-50% - 32px), -50%);
        opacity: 0;
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, -webkit-transform;
        transition-property: transform, opacity;
        transition-property: transform, opacity, -webkit-transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
        -webkit-transition-timing-function: cubic-bezier(0.52, 0.02, 0.19, 1.02);
        transition-timing-function: cubic-bezier(0.52, 0.02, 0.19, 1.02);

    }
    & > .sweet-modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9001;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0);
        -webkit-perspective: 500px;
    }
    .items-container{
        margin: 20px 0;

        .head-row .item-field{
            background-color : $ls-color-gray--light;
            padding: 5px 10px;
        }

        .head-row .item-actions{
            background-color : $white;
        }

        .foot-row .item-field {
            padding: 5px 10px;
            text-align: center;
        }

        .foot-row .item-disc ,.foot-row .item-total{
            font-size: 14px;
            text-align: right;
            line-height: 22px;
        }


        .item-row{
            vertical-align: top;
            padding: 10px 0;
            border-bottom: 1px solid $ls-color-gray;
        }

        .head-row{
            border-bottom: 0;
        }

        .item-field{
            display: inline-block;
            margin-right: -5px;
            width: 10.1%;
            vertical-align: top;
            padding: 5px;
        }

        .item-total{
            text-align: right;
        }

        .item-title{
            width: 20%;
        }

        .item-desc{
            width: 30%;
        }

        .item-actions{
            background-color : $white;
        }
    }

    .static-container {
        background-color: $ls-color-gray--light;
        display: inline-block;
        padding: 20px;
    }

    .btn-default.dropdown-toggle {
        padding: 0.375rem 0.5rem;
    }

    .static-group {
        padding: 5px 0;

        .static-title,.static-value{
            min-width: 80px;
            display: inline-block;
        }
        .static-title{
            min-width: 200px;
            text-align: left;
        }
    }

    .static-container{
        background-color: $ls-color-gray--light;
        display: inline-block;
        padding: 20px;
    }

    .btn-default.dropdown-toggle{
        padding: 0.375rem 0.5rem;
    }

    .static-group{
        padding: 5px 0;

        .static-title,.static-value{
            min-width: 80px;
            display: inline-block;
        }
        .static-title{
            min-width: 200px;
            text-align: left;
        }
    }

    .drop-zone {
        border: 2px dashed $ls-color-gray--light;
        height: 110px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .imgbox {
            z-index: 100;
            width: 100%;
            height: 110px;

            .dropzone {
                min-height: 110px !important;
            }
        }

        .upload {
            height: 25px;
            width: 25px;
            color: $ls-color-gray;
            position: absolute;
            bottom: 60px;
            z-index: 0;
        }

        .upload-info {
            position: absolute;
            top: 70px;
            left: 35px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 12px;
            line-height: 18px;
            color: $ls-color-gray;
            font-weight: normal;
        }

        .dz-image-preview {
            position: absolute;
            top: 28px;
            left: 16px;
            margin: 0;
            min-height: 0;
        }

        .dz-preview {
            width: 110px !important;
            height: 110px !important;
            display: inline-block !important
        }

        .dz-preview .dz-image {
            width: 110px !important;
            height: 110px !important;
            border-radius: 5px !important;
        }

        .dz-preview .dz-image > div {
            width: inherit !important;
            height: inherit !important;
            background-size: contain !important;
        }

        .dz-preview .dz-image > img {
            width: 100% !important;
        }

        .dz-preview .dz-details {
            display: none;
        }

        .dz-remove {
            height: 25px;
            width: 100px;
            position: absolute;
            top: 70% !important;
            right: 5px !important;
        }

        .dz-message {
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            line-height: 18px;
            color: $ls-color-gray;
            margin: 0 !important;
            position: relative;
            top: 40%;

            span {
                display: flex;
                flex-direction: column;

                i {
                    font-style: normal;
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 23px;
                    margin-bottom: 10px;
                }
            }
        }

    }

    .dz-message {
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
        color: $ls-color-gray;
    }

    .imgbox #dropzone {
        height: 110px !important;
        background-color: transparent;
        border: none;
    }

    .imgbox .vue-dropzone {
        border: none !important;
    }

    .header-button-container {
        display: flex;
    }

    .collapse-button-container {
        display: none !important;
    }

    .collapse-button {
        display: none;
    }

}

@media(max-width: $x-small-breakpoint ) {

    .expenses {

        .page-actions {
            position: relative;
            -webkit-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
            display: flex;
            flex-wrap: wrap;

            button {
                margin-bottom: 10px;
            }

        }

        .page-header {
            margin-bottom: 5px;
        }

        .table-actions {
            margin-top: 0px !important;
        }

        .collapse-button {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .header-button-container {
            display: none;
        }

        .collapse-button-container {
            margin-top: 8px;
            display: block;
        }

    }

}
