// Estimates - View
// -------------------------

.estimate-view-page {
    padding-left: 570px !important;

    .estimate-sidebar {
        width: 300px;
        height: 100vh;
        height: 100%;
        left: 240px;
        padding: 60px 0 10px;
        position: fixed;
        top: 0;
        width: 300px;
        z-index: 30;
        background: #ffffff;
    }

    .inv-search {
        background: $ls-color-gray--very-light !important;
    }

    .side-estimate {
        padding: 12px 16px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(185, 193, 209, 0.41);
        cursor: pointer;

        &:last-child {
            margin-bottom: 98px;
        }

        &.router-link-exact-active {
            border-left: 3px solid $ls-color-primary;
            background-color: $ls-color-gray--very-light;
        }

        &:hover {
            background-color: $ls-color-gray--very-light;
        }

        .left {

            .status-expired {
                background: #FED7D7;
                font-size: 13px;
                color: #9B2C2C;
                padding: 5px 10px;
            }

            .status-accepted {
                background: #D5EED0;
                font-size: 13px;
                color: #354930;
                padding: 5px 10px;
            }

            .status-sent {
                background: rgba(246, 208, 154, 0.4);
                font-size: 13px;
                color: #A96E1A;
                padding: 5px 10px;
            }

            .status-viewed {
                background: #C9E3EC;
                font-size: 13px;
                color: #1E576C;
                padding: 5px 10px;
            }

            .status-pending {
                background: #FED7D7;
                font-size: 13px;
                color: #9B2C2C;
                padding: 5px 10px;
            }

            .status-rejected {
                background: #E1E0EA;
                font-size: 13px;
                color: #312F57;
                padding: 5px 10px;
            }

            .status-draft {
                background: #F8EDCB;
                font-size: 13px;
                color: #6C432E;
                padding: 5px 10px;
            }

            .inv-name {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                text-transform: capitalize;
                color: $ls-color-black;
                margin-bottom: 6px;
            }

            .inv-number {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: $ls-color-gray--very-dark;
                margin-bottom: 6px;
            }

            .inv-status {
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 15px;
                padding: 2px 10px;
                display: inline-block;
            }
        }

        .right {

            .inv-amount {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                text-align: right;
                color: $ls-color-black--light;
            }

            .inv-date {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                text-align: right;
                color: $ls-color-gray--very-dark;
            }
        }
    }

    .no-result {
        color: $ls-color-gray;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .side-header {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 15px;
        border-bottom: 1px solid rgba(185, 193, 209, 0.41);

        .inv-button {
            background: $ls-color-gray--very-light;
            border: 1px solid #eaf1fb;
            box-sizing: border-box;
            color: $ls-color-gray--dark;
            box-shadow: none !important;
        }
    }

    .side-content {
        overflow-y: scroll;
        height: 100%;
    }

    .estimate-view-page-container {
        display: flex;
        flex-direction: column;
        height: 75vh;
        min-height: 0;
        overflow:hidden;
    }

    .frame-style {
        flex: 1 1 auto;
        border: 1px solid $ls-color-gray;
        border-radius: 7px;
    }

    .inv-filter-fields-btn,
    .inv-filter-sorting-btn {
        &:focus {
            outline: none !important;
            box-shadow: 0 0 0 0.09rem rgba(111, 110, 142, 0.5) !important;
        }
    }

    .filter-container {
        margin-left: 12px;

        .filter-title {
            padding: 5px 10px;
            border-bottom: 1px solid rgba(185, 193, 209, 0.41);
            margin-bottom: 10px;
        }

        .filter-items {
            display: flex;
            padding: 4px 9px;
            cursor: pointer;

            &:first-child {
                margin-top: auto;
            }
        }

        .inv-label {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 12px;
            text-transform: capitalize;
            color: $ls-color-black;
            margin-bottom: 6px;
            margin-left: 10px;
            cursor: pointer;
        }

        .base-input {
            width: 20%;
        }

        .dropdown-container {
            padding: 0px !important;
            left: auto;
            right: 0px;
            width: 166px;
        }
    }

    .filter-estimate-date {
        .vdp-datepicker {
            div {
                .vdp-datepicker__clear-button {
                    margin-left: -21px;
                    margin-top: 2px;
                    font-size: 20px;
                    font-weight: 800;
                }
            }
        }
    }

    .date-group {
        display: flex;
    }

    .to-text {
        padding: 8px;
    }
}

@media (max-width: $small-breakpoint) {
    .estimate-view-page {
        padding-left: 310px !important;
    }

    .estimate-sidebar {
        transition: 0.2s all;
        left: 0px !important;
    }
}
